node_modules
.env

.nyc_output
.nyc_output/*
.nyc_output/processinfo

coverage
./coverage/lcov-report

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.VSCodeCounter
.VSCodeCounter/*

dist
api